.App {
  width: 100%;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100px;
  height: 100px;
  z-index: 2;
}

.spinner img {
  width: 100%;
  height: 100%;
}

.errorMessage {
  color: red;
  font-size: 14px;
}

.response {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: white;
}

.response-error {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 28px;
  text-align: center;
}

.response-page {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 21px;
  text-align: center;
}

.response-back {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #0904f9;
  cursor: pointer;
  text-align: center;
}

.rooms {
  display: flex;
  flex-direction: row;
  margin-top: 68px;
}

.cards {
  padding-left: 280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-auto-columns: 400px;
  column-gap: 40px;
}

.sideDescription {
  padding-left: 20px;
  color: #fff;
}

.roomButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  color: blue;
}

.roomButton {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}

.roomButton:hover {
  background-color: orangered;
  color: #fff;
  scale: 1.1;
}
